.shope-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 20px;
}
.left-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.right-side {
  background-color: orange;
  height: 1000px;
  width: 370px;
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 644px) {
  .shope-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
  }
  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right-side {
    background-color: orange;
    height: 700px;
    width: 270px;
    margin-top: 10px;
    margin-left: 10px;
  }
}
