.Product-container img {
  width: 286px;

  border-radius: 8px;
  margin-left: 6px;
  margin-top: 6px;
}

.Product-container {
  width: 300px;
  height: 430px;
  margin-left: 20px;
  border: 1px solid #95a0a7;

  border-radius: 7px;
  position: relative;
}
.btn {
  font-size: 20px;
  color: white;
  width: 100%;
  background-color: #332c22;
  height: 48px;
  border: none;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
}
.product-info {
  margin-left: 20px;
}
.btn:hover {
  background-color: orange;
}

@media only screen and (max-width: 644px) {
  .Product-container img {
    width: 280px;

    border-radius: 8px;
    margin-left: 6px;
    margin-top: 6px;
  }

  .Product-container {
    width: 290px;
    height: 430px;
    margin-left: 20px;
    border: 1px solid #95a0a7;

    border-radius: 7px;
    position: relative;
  }
  .btn {
    font-size: 20px;
    color: white;
    width: 100%;
    background-color: #332c22;
    height: 48px;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
  }
  .product-info {
    margin-left: 20px;
  }
  .btn:hover {
    background-color: orange;
  }
}
